.home_body
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height:82vh;

  
}


.Profile

{   
   
    margin-top: 0%;
    margin-left: 5%;
    cursor: pointer;
    padding-bottom: 2%;
}


.MyDashboard
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
    padding-bottom: 2%;
}

.Events
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
    padding-bottom: 2%;
}


.Notice
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
    padding-bottom: 2%;
}


.MyCalender
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
    padding-bottom: 2%;
}


.Viewattendence
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
    padding-bottom: 2%;
}

.ManageStudentRegistration
{
   margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
}


.institutionalCalender
{
   margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
    padding-bottom: 2%;
}

.SemesterResults
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
    padding-bottom: 2%;
}


.ViewPerformanceDetails
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
    padding-bottom: 2%;
}

.AssignmentDetails
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
}

.Instructions
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
}

.Downloads
{
    margin-top: 4%!important;
    margin-left: 5%;
    cursor: pointer;
}

.PhotoGallery
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
}

.institutionalholidays
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
}

.Examtimetable
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
}


.TimeTable
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
}

.SyllabusSubjectView
{

    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
}

.alerts_home
{
    margin-top: 4%;
    margin-left: 5%;
    cursor: pointer;
}

